server {
  listen [::]:443;
  listen 443;

  server_name <%= @server_name %>;

  <% if @server_name == 'fga.unb.br' %>
  client_max_body_size 20m;
  <% end %>

  location / {
    proxy_pass http://<%= @server %>;
  }
}

upstream <%= @server %> {
    server <%= @server_ip %>:<%= @service_port %>;
}
